<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
</head>
<body>
    <h1>CURRICULUM VITAE</h1>

        <h2>DATOS PERSONALES:</h2>
        <img width="100" src="{{ url_for('static', filename='fotito.jpg') }}">
    

                <li>Correo:Lopez.slg97@gmail.com </li>
                <li>Nombre:Solange Lizbeth</li>
                <li>Apellido: Lopez Guatizaca</li>
                <li>Estado civil: Soltera </li>
                <li>Edad: 27 años </li>
                <li>Direccion: Batallon del suburbio </li>
                <li>Telefono:0959447075</li>
       
        

        
        
        <h2>ESTUDIOS REALIZADOS:</h2>
       

                <li>Primaria: escuela fiscal "Gomez Lince"</li>
                <li>secundaria: particular "Florida school"   </li>
                <li>Universidad: "Guayaquil"</li>
        
        
         <h2>EXPERIENCIA LABORAL:</h2>
        
                <h3>Empresa: "Book point"</h3>
                <li>Despachadora</li>

                <h3>Empresa: "NB Eventos"</h3>
                <li>impulsadora</li>
                
                <h3>Empresa: "Optica Clara Vision" </h3>
                <li>Atencion al cliente </li>
        

         <h2>REFERENCIAS PERSONALES:</h2>
         
                <li>Ing. Gloria Praticia Muñoz 0968443674 </li>
                <li>Lic. Beatriz Carasco 0945224587</li>
                <li>Ing. Edwin Castro 0923675612</li>
     
        

                



       
    </body>
</html>
</body>
</html>